@font-face {
    font-family: 'SUSH!';
    src: url('SUSH.woff2') format('woff2'),
        url('SUSH.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

