body{
    background-image: url('../../img/fondo.jpg');
    background-repeat: repeat;
    font-family: 'sushi','Showcard Gothic';
    font-size: 12px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
*{
    box-sizing: border-box;
}
h1{
    color: red;
    margin-bottom: 30px;
}


body{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

form{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: transparent;
    width: 300px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 28px;
    border-radius: 3px;
}

input::placeholder{
    color: black;
}
input{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 15px;
}

input[type="password"], input[type="text"]{
    margin-bottom: 20px;
    background-color: white;
    border: 0px;
}

button{
    border-width: 0px;
    text-align: center;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border-radius: 2px;
    padding: 9px;
    cursor: pointer;
}

p > *,p{
    text-align: center;
    display: block;
}
a{
    text-decoration: none;
    color: gray;
    margin: 5px;
}
img{
    padding-bottom: 27px;
}

@media (min-width: 768px) {/*Tablet*/
    
}


@media (min-width: 992px) {/*PC*/

}